.header {
    z-index: 1;
    position: fixed;
	width: 100%;
	font-weight:bold;
    margin-top: -0.5em;
	margin-left: -0.25em;
    height: 7em;
    margin-bottom: 2em;
    color: white;
    font-family: cursive;
	background-image: url("images/bg1.jpg");
    
}
.right {
    position: relative;
    float:right;
	margin-top:6em;
	margin-bottom: 1em;
    width: 78%;
    height: 47.5em;
    background-color: white;
}
.about{
	font-size: large;
	font-family: cursive;
	font-style:oblique;
	color:black;
}
.leftbar{
	position: relative;
	padding: 4% 1% 1% 1%;
	float: left;
	width: 14%;
	margin: 8% 0% 2% 0%;
	background-color:#7ec0ee;
	border-style: solid;
	border-width: 3px;
	border-top-left-radius: 20px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 0;
	color: black;
}
.selfie{
	width: 100%;
	transform: rotate(-90deg);
	padding: 0% 0% 0% 0%;
}
.name{
	float: left;
	margin-left: 1em;
	padding-top: 0em;
	font-size: 2.5em;
	color: black;
}
.email{
	float: right;
	font-size: 1.5em;
	color: black;
}
.phone{
	float: right;
	font-size: 1.5em;
	color: black;
}
.university{
	float: right;
	margin-top: -1em;
	margin-right: 1em;
	padding-top: 1em;
	font-size: 1.5em;
	color: black;
}