.header {
    z-index: 1;
    position: fixed;
	width: 100%;
	font-weight:bold;
    margin-top: -0.5em;
	margin-left: -0.25em;
    height: 7em;
  	background-color: #009991;
    margin-bottom: 2em;
    color: #ffffff;
    font-family: cursive;
	background-image: url("images/bg1.jpg");
    
}
.right {
    position: relative;
    float:right;
	margin-top:6em;
	margin-bottom: 1em;
    width: 78%;
    height: 47.5em;
    background-color: white;
}
.about{
	font-size: large;
	font-family: cursive;
	font-style:oblique;
	color:black;
}
.leftbar{
	position: relative;
	padding: 2% 0% 1% 1%;
	float: left;
	width: 14%;
	margin: 7% 0% 2% 0%;
	background-color: #009991;
	color: pink;
}
.selfie{
	width: 75%;
	padding: 0 0 0 7.5%;
}
.name{
	float: left;
	margin-left: 1em;
	padding-top: 0em;
	font-size: 2em;
}
.email{
	float: right;
	//margin-right: 1em;
	//padding-top: 1em;
	font-size: 1em;
	color: black;
}
.phone{
	float: right;
	//margin-right: -10em;
	//padding-top: 3em;
	font-size: 1em;
	color: black;
}
.university{
	float: right;
	margin-top: -1em;
	margin-right: 1em;
	padding-top: 1em;
	font-size: 1em;
	color: black;
}