.header {
    z-index: 1;
    position: fixed;
	width: 100%;
	font-weight:bold;
    margin-top: -0.5em;
	margin-left: -0.25em;
    height: 7em;
    margin-bottom: 2em;
    font-family: cursive;
    
}
.right {
    position: relative;
    float:right;
	margin-top:6em;
	margin-bottom: 1em;
    width: 78%;
    height: 47.5em;
}
.about{
	font-family: cursive;
	color:black;
}
.leftbar{
	position: relative;
	padding: 2% 0% 1% 1%;
	float: left;
	width: 14%;
	margin: 9% 0% 2% 0%;
}
.selfie{
	width: 50%;

}
.name{
	color: black;
}
.email{
	float: right;
	color: black;
}
.phone{
	float: right;
	color: black;
}
.university{
	float: right;
	color: black;
}